.content-wrapper {
    max-width: 75%;
    margin: auto auto 8%;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    box-sizing: border-box;
}

.image-container {
    flex-basis: 200px;
    flex-grow: 4;
    width: 100%;
    margin: 0 auto 10px;
    padding: 7px;
    box-sizing: border-box;
    background-color: #e0daf2;
}

.image {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 67vh;
}

.details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.description {
    flex-grow: 7;
    width: 65%;
    padding-left: 5%;
    padding-right: 5%;
}

.desc-body {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user {
    flex-grow: 3;
    min-width: 30%;
}

.tags {
    min-height: 70px;
    display: flex;
    max-width: 90%;
    margin-left: 7%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.tag-list {
    padding: 7px;
    flex-basis: 60%;
    display: flex;
    border-right: 2px solid black;
    box-sizing: border-box;
}

.interaction-list {
    display: flex;
}

.interaction-list div {
    margin-right: 15px;
}

.interaction-container {
    height: 100%;
}

.social-flex {
    display: flex;
    align-items: center;
}

.social-container {
    height: 4em;
    max-height: 5em;
    display: flex;
    align-items: center;
}

.social-counter {
    margin-left: 10px;
    font-size: 18px;
}

.liked {
    color: #fc4949;
}

.reposted {
    color: green;
}
