.tag-item {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
    height: 100%;
    flex-basis: 30%;
    background-color: #674ea7;
}

.tag-item:hover {
    background-color: #9c84db;
}

.tag-highlighted {
    background-color: #b1d5a4;
}

.tag-highlighted:hover {
    background-color: #d4f2c9;
}

.tag-text {
    color: white;
    text-decoration: none;
}

.tag-text-highlighted {
    color: black;
}
